# --- Core RAG & AI ---
groq
qdrant-client
sentence-transformers
scikit-learn
langchain-text-splitters
fastembed
tiktoken

# --- Data Handling ---
pymupdf
tqdm
python-dotenv

# --- Frontend ---
streamlit
